*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url('img/Background.jpg');
    width: auto;
    height: auto;
}

#content{ 
   width: 1500px;
   height: 900px;
   padding: 50px;
   border: 5px solid black;
   margin: auto;
   background-image: url('img/MyMan.png');
}

#trippel-container{
    margin-bottom: -2%;
    margin-top: 1%;
    margin-left: 5%;
    padding-left: 10px;
    width: 270px;
    height: 48%;
    background-image: url('img/Forsen.png');
    background-repeat: no-repeat;
    border-radius: 5px;
    float: left;  
}

#trippel-container .text {
    position:relative;
    bottom:-380px;
    left:-10px;
    visibility:hidden;
    font-size: 20px;
    color: whitesmoke;
    opacity: 1;
    background-image: url('img/RedBackground.jpg');

}

#trippel-container:hover .text{
    visibility:visible;


}

#transparent{ 
    color: whitesmoke;
    margin-top: -2%;
    clear: both;
    font-size: 25px;
}

#trippel-container:hover{
   background-image: url('img/ForsenCD.png');
   opacity: 0.25;
}

#arena{
    font-style: italic;
    font-size: 25px;
    color: red;
}



